@import 'https://fonts.googleapis.com/css?family=Fruktur';
@import 'https://fonts.googleapis.com/css?family=Bungee+Inline';
 @-webkit-keyframes color {
	from{background-color:#009933;}
	to{background-color:#af111c;}
} 

@-webkit-keyframes border{
	from{border-color: #663300;}
	to{border-color: #8080ff;}
}

body{
	cursor:url('http://www.rw-designer.com/cursor-view/31250.png'), auto;
	background-color:#af111c;
	animation-name: color;
    animation-duration:5s;
    animation-timing-function: ease;    
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

#welcome {
	font-size:45px;
	text-align: center;
	border-style: inset outset ridge groove;
	border-color: #663300;
	width:30%;
	animation-name: border;
    animation-duration:3s;
    animation-timing-function: ease;    
    animation-iteration-count: infinite;
    animation-direction: alternate; 
	position: absolute;
	left:36%;
}

#start {
	width:220px;
	position: absolute;
	top: 400px;
	left:46%;
}

#rules {
	width:220px;
	position: absolute;
	top: 750px;
	left:46%;
}

#rrules {
	font-size:30px;
	text-align: center;
}

#back {
	text-align: center;
	width: 220px;
	height: 170px;
	position: absolute;
	left:46%;
}

#img1 {
	height:300px;
	position: absolute;
	left:50%;
	bottom:35px;
}

.word {
	font-family: 'Fruktur', cursive;
}

.button {
	border-style: inset;
	border-color: #663300;
	font-size: 35px;
	font-family: 'Fruktur', cursive;
	animation-name: border;
	animation-duration:3s;
    animation-timing-function: ease;    
    animation-iteration-count: infinite;
    animation-direction: alternate; 
}

.zombie {
	height:100px;
	display: inline-block;
}

#moneyearned {
	display: inline;
}

#moneysign {
	display: inline !important;
}